body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #f5f5f5;
  background-image: url(/asset/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  padding: auto;
  margin: auto;
}

.profile-card-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 50px 50px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225, 225, 225, 0.18);
  border-radius: 30px;
  align-items: center;
  gap: 50px;
}

.profile-picture {
  /* max-height: 300px; */
  max-width: 300px;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.profile-card-content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  align-content: center;
}

.fullName {
  font-size: 30px;
}

.job-title {
  color: bisque;
  letter-spacing: 0.1rem;
}

.short-bio {
  letter-spacing: 0.1rem;
}

#currentLocation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.allSocial {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 28px;
}

.allSocial > span {
  cursor: pointer;
}

.email-address {
  display: flex;
  justify-content: center;
}

.email-address a {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  width: fit-content;
}

a:link,
a:visited {
  text-decoration: none;
  color: #f5f5f5;
}

a:hover {
  color: bisque;
}

.fa-brands {
  transition: transform 0.7s ease-in-out;
}

.fa-brands:hover {
  transform: rotate(360deg);
}

/* Responsive adjustments */
@media screen and (max-width: 900px) {
  .profile-card-container {
    flex-direction: column;
    width: 90%;
    padding: 30px;
  }

  .profile-picture {
    max-width: 250px;
    max-height: 250px;
    border-radius: 30px;
  }

  .profile-picture img {
    object-fit: cover;
  }

  .fullName {
    font-size: 24px;
  }

  .short-bio {
    font-size: 16px;
  }

  .job-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .profile-card-container {
    width: 95%;
    padding: 20px;
  }

  .profile-picture {
    max-width: 200px;
    max-height: 200px;
  }

  .fullName {
    font-size: 20px;
  }

  .job-title {
    font-size: 16px;
  }

  .allSocial {
    font-size: 24px;
  }
}
